<div class="missions-filters">
    <select #dateInput class="filter-select" (change)="this.selectedDateEvent.emit(dateInput.value)">
        <option value="">Date</option>
        <option value="lastWeek">La semaine dernière</option>
        <option value="lastMonth">Le mois dernier</option>
        <option value="last6Months">6 mois derniers</option>
    </select>
    <select #priorityInput class="filter-select" (change)="this.selectedProrityEvent.emit(priorityInput.value)" >
        <option value="">Priorité</option>
        <option value="basse">Basse</option>
        <option value="moyenne">Moyenne</option>
        <option value="haute">Haute</option>
    </select>
    <select class="filter-select">
        <option>Collaborateurs</option>
    </select>
    <select #skillInput class="filter-select" (change)="this.selectedSkillEvent.emit(skillInput.value)">
        <option>Compétences</option>
        <option *ngFor="let competence of allCompetences" [value]="competence.id">{{ competence.nom_fr }}</option>
    </select>
    <div class="search-bar">
        <input #searchInput type="text" placeholder="Mission" (keyup)="searchQueryEvent.emit(searchInput.value)"/>
        <button class="search-button" >
            <img src="assets/loupe.svg" alt="Loupe">
        </button>
    </div>
</div>


