<div class="missions-filters">
    <select class="filter-select" [(ngModel)]="selectedPriorite">
        <option value="">Date</option>
        <option value="lastMonth">Le mois dernier</option>
        <option value="lastWeek">La semaine dernière</option>
        <option value="last6Months">6 mois derniers</option>
    </select>
    <select class="filter-select" [(ngModel)]="selectedPriorite">
        <option value="">Priorité</option>
        <option value="basse">Basse</option>
        <option value="moyenne">Moyenne</option>
        <option value="haute">Haute</option>
    </select>
    <select class="filter-select">
        <option>Collaborateurs</option>
    </select>
    <select class="filter-select">
        <option>Compétences</option>
    </select>
    <button class="filter-button">Appliquer les filtres</button>
    <div class="search-bar">
        <input type="text" placeholder="Mission" [(ngModel)]="searchQuery" (keyup)="onSearch()"/>
        <button class="search-button" (click)="onSearch()">
            <img src="assets/loupe.svg" alt="Loupe">
        </button>
    </div>
</div>


