<div class="missions-container">
    @for(status of ['Préparation', 'Plannifiée', 'En cours', 'Terminée']; track status) {
        <div class="missions-column">
            <div class="missions-column-header" [ngClass]="getStatusClass(status)">
                <h3 class="column-title">{{ status }}</h3>
            </div>
            <div class="missions-list">
                @for(mission of getFilteredMissions(status); track mission.idM) {
                    <app-missions-card [mission]="mission"></app-missions-card>
                }
            </div>
        </div>
    }
</div>