.title {
    color: #41315F;
    font-weight: bold;
    font-size: 24px;
    padding-left: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px; 
  }
   

.left-section {
    display: flex;
    flex-direction: column; 
    flex: 1; 
    gap: 20px;
}


.forum-section {
    flex: 1; 
}
