.competences p {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s;
  display: inline-block;
  margin: 5px; 
}

.competences p:hover {
  background-color: #941e1e;
}
