<div class="popup-overlay" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <h2>{{ mission.titre }}</h2>
    <div class="mission-details">
      <div class="detail-item">
        <label>Titre :</label>
        <span>{{ mission.titre }}</span>
      </div>
      <div class="detail-item">
        <label>Description :</label>
        <span>{{ mission.description }}</span>
      </div>
      <div class="detail-item">
        <label>Date de début :</label>
        <span>{{ mission.date_debut }}</span>
      </div>
      <div class="detail-item">
        <label>Date de fin :</label>
        <span>{{ mission.date_fin }}</span>
      </div>
      <div class="detail-item">
        <label>Statut :</label>
        <span>{{ mission.statut }}</span>
      </div>
      <div class="detail-item">
        <label>Priorité :</label>
        <span>{{ mission.priorite }}</span>
      </div>
    </div>
    <div class="competences-container">
      <h3>Compétences :</h3>
      <div class="tags">
        @for (competence of competences; track competence.idC) {
          <div class="tag">
            {{ competence.nom_fr }}
          </div>
        }
      </div>
    </div>
    <div class="employes-section">
      <h3>Employés affectés</h3>
      <div class="employes-list">
        @for (employe of employes; track employe.idE) {
          <div class="employe-card">
            <div class="employe-info">
              <i class="fas fa-user"></i> <!-- Icône utilisateur -->
              <span>{{ employe.prenom }} {{ employe.nom }}</span>
            </div>
            <div class="employe-statut">
              <i class="fas fa-briefcase"></i> <!-- Icône statut -->
              <span>{{ employe.statut }}</span>
            </div>
          </div>
        }
      </div>
    </div>
    <!-- Bouton pour fermer le pop-up -->
    <div class="popup-buttons">
      <button type="button" class="btn-close" (click)="closePopup()">Fermer</button>
    </div>
  </div>
</div>