

.stats-container {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    max-width: 60%; 
    margin-left: auto;
    margin-right: auto; 
    gap: 20px;
  }

  @media (max-width: 768px) {
    .stats-container {
      flex-direction: column; 
      max-width: 90%; 
    }
  }