<div>
  <h1>Choisissez des compétences :</h1>

  <select class="custom-list" 
          size="5" 
          [multiple]="true" 
          (change)="onSelectChange($event)">
    @for (competence of competences; track competence.id) {
      <option [value]="competence.id" 
              [class.selected]="selectedCompetences.includes(competence.id)">
        {{ competence.nom_fr }}
      </option>
    }
    @empty {
      <option disabled>Aucune compétence disponible</option>
    }
  </select>

  @if (selectedCompetences.length > 0) {
    <div class="selected-list">
      <h3>Compétences sélectionnées :</h3>
      <ul>
        @for (id of selectedCompetences; track id) {
          <li (click)="onSelectCompetence(id)" >
       
     
            <span class="remove-btn">×</span>
          </li>
        }
      </ul>
    </div>
  }
</div>