<header>
    <div id="logo">
        <img src="assets/logo.svg" alt="Logo">
    </div>
    <div id="links">
        <div routerLink="" routerLinkActive="">Dashboard</div>
        <div routerLink="collaborateurs-page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Collaborateurs</div>
        <div routerLink="missions-page" routerLinkActive="active">Missions</div>
    </div>
    <div id="notification">
        <img src="assets/notif.svg" alt="Notifications">
    </div>
</header>



