header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 20px;
    background-color: #81689D;
    color: #ffffff;
    position: relative;
}

#links {
    flex-grow: 1;
    display: flex;
    gap: 80px;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10%;

    div {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}

#notification {
    display: flex;
    align-items: center;
    margin-left: auto;

    img {
        width: 24px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.active {
    color: #ffffff;
    text-decoration: underline;
}

#logo-container {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-background,
#logo {
    position: absolute;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-background img {
    z-index: 1;
    width: 80px;
}

#logo img {
    z-index: 2;
    width: 80px;
}

/* Connexion / Déconnexion */
#login-logout {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    font-weight: bold;
}


#login-button, 
#logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}


#login-button:hover, 
#logout-button:hover {
    color: #bba3d0;
    transform: scale(1.05);
}
