<header>
    <div id="logo-container">
        <div id="logo-background">
            <img src="assets/rond.svg" alt="Fond Logo">
        </div>
        <div id="logo">
            <img src="assets/logo.svg" alt="Logo">
        </div>
    </div>
    <div id="links">
        <div routerLink="" routerLinkActive="">Dashboard</div>
        <div routerLink="collaborateurs-page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Collaborateurs</div>
        <div routerLink="missions-page" routerLinkActive="active">Missions</div>
    </div>
    <div id="login">
        <button id="login-button">Se connecter</button>
    </div>
    <div id="notification">
        <img src="assets/notif.svg" alt="Notifications">
    </div>
</header>




