<header>
    <div id="logo">
        <img src="Projet-web\frontend\src\assets\logo.svg" alt="Logo">
    </div>
    <div id="links">
        <div routerLink="" routerLinkActive="active">Dashboard</div>
        <div routerLink="collaborateurs-page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Collaborateurs</div>
        <div routerLink="missions-page" routerLinkActive="active">Missions</div>
    </div>
    <div id="notification">
        <img src="Projet-web\frontend\src\assets\notif.svg" alt="Notifications">
    </div>
</header>



