<div class="profile">
  <div class="avatar">
    <img src="assets/profile.svg" alt="Profil">
  </div>
  <div class="profile-info">
    <h3 id="nom">{{ selectedCollaborateur?.nom }} </h3>
    <h3 id="prenom">{{ selectedCollaborateur?.prenom }}</h3>
  </div>
</div>
<div class="details">
  <p><strong>Date d’embauche : </strong> <span id="date">{{ selectedCollaborateur?.date_embauche }}</span></p>
  <p><strong>Statut :</strong> <span id="statut"> {{ selectedCollaborateur?.statut }}</span></p>
</div>