<app-missions-filters (searchEvent)="onSearch($event)"></app-missions-filters>
<app-add-mission-button></app-add-mission-button>

<app-missions-list #missionsList></app-missions-list>
<app-mission-form></app-mission-form>


<!-- Popups (affichés uniquement si ouverts) -->
<!-- <app-add-mission-popup *ngIf="showAddPopup" (close)="closeAddPopup()"></app-add-mission-popup> -->
<!-- <app-edit-mission-popup *ngIf="showEditPopup" [mission]="selectedMission" (close)="closeEditPopup()"></app-edit-mission-popup> --> -->