 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.collaborateur-card {
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
  max-width: 1500px;
  width: 90%;
  margin: 20px auto;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 20px; 
  flex-grow: 1;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #8a8a8a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collaborateur-name {
  font-size: 18px;
  color: #41315F;
  font-weight: bold;
}

.edit-icon {
  background-color: #e8e0f6;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-icon img {
  width: 20px;
  height: 20px;
}

.skills-section {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
}

.competence-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 10px; 
}

.competence-rectangle {
  background-color: #393939; 
  border-radius: 8px; 
  padding: 8px 16px; 
  font-size: 14px; 
  color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap; 
  
  &:hover {
    background-color: #929292; 
  }
}

.actions-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.collaborateur-status {
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.status-active {
  background-color: rgb(124, 204, 124);
}

.status-inactive {
  background-color: rgb(128, 128, 128); 
}

.delete {
  background: none;
  border: none;
  cursor: pointer;
}

.delete img {
  width: 20px;
  height: 20px;
}
