<div class="collaborateur-card">
  <div class="profile-section">
    <div class="profile-info">
      <div class="avatar">
        <img src="assets/profile.svg" alt="Profil">
      </div>
      <div class="collaborateur-name">
        {{ collaborateur.nom }} {{ collaborateur.prenom }}
      </div>
    </div>
    <button class="edit-icon" (click)="openModifierPopup()">
      <img src="assets/pencil.svg" alt="Modifier">
    </button>
  </div>
  <div class="skills-section">
    <div class="competence-container">
      <!-- Afficher uniquement les 3 premières compétences -->
      @for (competence of competences.slice(0, 3); track competence.idC) {
        <div class="competence-rectangle">
          {{ competence.nom_fr }}
        </div>
      }
      <!-- Bouton "Afficher plus" si plus de 3 compétences -->
      @if (competences.length > 3) {
        <button class="show-more-button" (click)="openDetailPopup()">
          +{{ competences.length - 3 }}
        </button>
      }
    </div>
  </div>
  <div class="actions-section">
    <div class="collaborateur-status"
         [class.status-active]="collaborateur.statut === 'Actif'"
         [class.status-inactive]="collaborateur.statut === 'Inactif'">
      {{ collaborateur.statut }}
    </div>
    <button class="delete" (click)="openDeletePopup()">
      <img src="assets/trash.svg" alt="Supprimer">
    </button>
  </div>

  <!-- Pop-up de suppression -->
  @if (showDeletePopup) {
    <app-supprimer-collaborateur
      [isVisible]="showDeletePopup"
      (confirmDelete)="onConfirmDelete()"
      (cancelDelete)="onCancelDelete()"
    ></app-supprimer-collaborateur>
  }

  @if (showDetailPopup) {
    <app-detail-collaborateur
      [collaborateur]="collaborateur"
      [competences]="competences"
      (close)="closeDetailPopup()"
    ></app-detail-collaborateur>
  }

  @if (showModifierPopup) {
    <app-modifier-collaborateur
      [idE]="collaborateur.idE"
      (close)="closeModifierPopup()"
    ></app-modifier-collaborateur>
  }
</div>