.mission-card {
    width: 95%; /* Utilisez 100% au lieu de "full" */
    background: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    position: relative;
}

.mission-card:hover {
    transform: scale(1.02);
}

.mission-button {
    position: relative; /* Conteneur des boutons */
}

.mission-button button {
    border: none;
    cursor: pointer;
    font-size: 10px;
    color: #5c3c92;
    transition: color 0.3s ease;
    border-radius: 12px;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: #e8e0f6;
    position: absolute; /* Position absolue pour les boutons */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Largeur fixe pour les boutons */
    height: 30px; /* Hauteur fixe pour les boutons */
    padding: 4px; /* Padding pour un meilleur rendu */
}

/* Positionnement du bouton "edit" */
.mission-button .edit-button {
    right: 48px; /* Décalé de 48px depuis la droite */
}

/* Positionnement du bouton "détail" */
.mission-button .detail-button {
    right: 8px; /* Décalé de 8px depuis la droite */
}

/* Ajustement pour le texte h4 */
.mission-button h4 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 100px; /* Espacement pour éviter le chevauchement avec les boutons */
}

.mission-info {
    color: #555;
    margin-top: 20px;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priorite-basse {
    color: #28a745;
    background-color: #d4edda;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: bold;
}

.priorite-moyenne {
    color: #f5a623;
    background-color: #fce5c5;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: bold;
}

.priorite-haute {
    color: #dc3545;
    background-color: #f8d7da;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: bold;
}