<div class="mission-card">
    <div class = "mission-button">
        @if(mission.statut != "terminée" && mission.statut != "en cours") {
            <button class = "edit-button" (click)="edit()"><img src="../../../assets/pencil.svg"></button>
            <button class="detail-button" (click)="openMissionDetails()"><img src="../../../assets/Eye.svg"></button>
        }
        <h4>{{ mission.titre }}</h4>
    </div>
    <div class = "mission-info">
        <div class="mission-name">{{ mission.date_fin }}</div>
        <div class="mission-date" [ngClass] = "getPrioriteClasse(mission.priorite)">{{ mission.priorite }}</div>
    </div>
</div>

